.page {
  background-color: #000;
  margin: 0 auto;
  padding: 45px 15.62% 60px;
  max-width: 880px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
